@{
    Layout = "_Layout";
}

<div class="d-flex align-items-center justify-content-center vh-100 mt-100 mb-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold" style="font-size: 130px">404</h1>
        <p class="lead" style="font-size: 30px">
            <span class="text-danger">Opps!</span> Aradığınız sayfa bulunamadı.
        </p>
        <a href="/Home/Index" class="btn btn-primary" style="font-size: 20px">Ana Sayfa ></a>
    </div>
</div>