@{
    ViewData["Title"] = "Home Page";
}



<!-- Slider START -->
<div class="pogoSlider" id="js-main-slider">


    <div class="pogoSlider-slide" data-transition="fade" data-duration="50" style="background-image:url(/img/lta5.jpg);">
        <div class="container">
            <div class="slider-content">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="1000" data-delay="1000">Büyüyoruz...</h2>
                        <p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="1000" data-delay="1000">2013 yılında teknoloji şirketi olarak çıktığımız yolda, hem müşterilerimizin ihtiyaçları, hem de sektörel ihtiyaçları gözeterek durmadan çalışıyoruz. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url(/img/lta2.jpg);">
        <div class="container">
            <div class="slider-content">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="1000" data-delay="9000">Dış kaynak kullanarak avantaj sağla...</h2>
                        <p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="1000" data-delay="9000">Küreselleşen Dünya’da büyük kurumsal firmaların son zamanlarda hayata daha sık geçirdiği, BT dış kaynak modellerinde; son 5 senede 300’e yakın çalışanımız çeşitli firmalarda işe girdi veya iş değişikliği yaptı. </p>
                        <a asp-route="Outsource" class="button-lg button-primary mt-30 pogoSlider-slide-element" data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Daha Fazlası</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url(/img/lta9.jpg);">
        <div class="container">
            <div class="slider-content">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="1000" data-delay="9000">Yeni Teknolojilerle Yazılım Geliştirme...</h2>
                        <p class="pogoSlider-slide-element hidde" data-in="slideRight" data-out="slideUp" data-duration="1000" data-delay="9000">Günden güne gelişen ve değişen yazılım teknolojisini takip eden, iş partnerlerine son derece elegant, farklı fikirler üretip bunu doğru bir şekilde aktaran ekibimizle siz değerli müşterilerimizin projelerini hayata geçiririz.</p>
                        <!--<a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element" data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url(/img/lta3.jpg);">
        <div class="container">
            <div class="slider-content">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="1000" data-delay="15000">Agile Eğitimler...</h2>
                        <p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="1000" data-delay="15000">Kurumsal firmaların düzenli, hızlı, kaliteli bir şekilde projelerini hayata geçirmek için agile yöntemlerini kurmaları gerekmektedir. Uzman eğitmenlerimizin bilgilerini paylaştığı agile eğitimlerimizle bu hizmeti sunuyoruz...</p>
                        <!--<a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element" data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider END -->
<!-- Top Articles START -->
<div class="section-block" id="overview">
    <div class="container">
        <div class="section-heading center-holder">
            <h2> Outsource hizmeti almak için doğru yerdesiniz.. </h2>
            <p> Son 5 senede 300’e yakın çalışanımız çeşitli firmalarda işe girdi veya iş değişikliği yaptı. </p>
            <a href="https://goo.gl/maps/Dgpc6RX1NSM2" target="_blank">
                <i class="fa fa-map-marker fa-4x" style="position: relative; bottom: -30px;"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUpSm" data-wow-delay=".1s">
                <article class="service-article clearfix">
                    <div class="article-icon">
                        <i class="icon-thinking-head"></i>
                    </div>
                    <div class="article-text">
                        <h3>Geniş Aday Havuzu </h3>
                        <p>Uzun yıllardır yazılım sektörünün içerisinde olmamızın avantajlarından bir tanesi de geniş bir aday yelpazemizin olmasıdır. Her gün yaklaşık 10 yeni adayla tanışarak kariyer hedeflerine destek oluyoruz. </p>
                        <a asp-route="Outsource" target="_blank">Devamı</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUpSm" data-wow-delay=".3s">
                <article class="service-article clearfix">
                    <div class="article-icon">

                        <i class="icon-smartphone-10"></i>
                    </div>
                    <div class="article-text">
                        <h3>Taleplerinize Hızlı Dönüş</h3>
                        <p>Geliştirdiğimiz metodoloji ve uygulamalarımız sayesinde, kısa süre içerisinde taleplerinize uygun aday eşleşmeleri bularak, sizlere hızlı hizmet sunarız.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <a asp-route="Outsource" target="_blank">Devamı</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUpSm" data-wow-delay=".5s">
                <article class="service-article clearfix">
                    <div class="article-icon">
                        <i class="icon-credit-card"></i>
                    </div>
                    <div class="article-text">
                        <h3>Kaliteli Hizmet</h3>
                        <p>Biz sadece ihtiyaçları karşılayıp, yeni istihdam yaratmıyoruz. Biz bu süreç esnasında, adayımızın huzuru, müşterimizin mutluluğu için kaliteli bir ekiple çalışıyoruz.<br/>&nbsp;&nbsp;</p>
                        <a asp-route="Outsource" target="_blank">Devamı</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- Top Articles END -->
<div id="about">
    <!-- About section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay=".4s">
                    <div class="section-heading left-holder mt-20">
                        <h2 style="font-size: 45px">Hakkımızda...</h2>
                        <p style="font-size: 16px"><br/>Kurulduğumuz 2013 yılından itibaren, Yazılım ve Bilgi Teknolojileri alanında Dış Kaynak Sağlama (Outsource) hizmeti veren firmamızda son 5 yılda; 50’ye yakın yazılım projesini tamamladık. 300’e yakın çalışanımızın çeşitli firmalarda yerleşmesi ve yer değişikliği konusunda faaliyet gösterdik. Kurumsal firmalara danışmanlık ve eğitim seminerleri düzenledik. Giderek büyüyen Yazılım ve Dış Kaynak sektöründe köklü bir altyapıyla, nitelikli çalışanları ve tecrübesiyle daha da ileriyi hedeflemekteyiz. <br/> </p>
                        <p style="font-size: 16px"><br/>Hizmet verdiği alanlarda ki sorumluluklarının bilincinde olan yerli firmamız, yürüttüğü projelerle ülke ekonomisine ve istihdama katkı sağlamaktadır. <br/> </p>
                        <p style="font-size: 16px"><br/>Hedefimiz; bilgi ve birikimizi, müşteri ihtiyaçlarıyla birleştirerek, müşterilerimizin alabilecekleri en kaliteli hizmeti vermektir. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-1 wow fadeInUpSm" data-wow-delay=".1s">
                    <img src="~/img\handsshake.jpeg" alt="Outsource" class="border-round img-shadow" weight="360" height="540">
                </div>

            </div>
        </div>
    </div>
    <!-- About section END -->
    <!-- CountUp Section START -->
    <div class="section-block-parallax" style="background-image: url(/img/lta2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDownSm" data-wow-delay=".1s">
                    <div class="countup-box">
                        <h4 class="countup">1200</h4>
                        <h5>Hours Of Work</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDownSm" data-wow-delay=".3s">
                    <div class="countup-box">
                        <h4 class="countup">50</h4>
                        <h5>Complete Project</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDownSm" data-wow-delay=".5s">
                    <div class="countup-box">
                        <h4 class="countup">300</h4>
                        <h5>Happy Person</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDownSm" data-wow-delay=".7s">
                    <div class="countup-box">
                        <h4 class="countup">2</h4>
                        <h5>Awards</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CountUp Section END -->
</div>
<!-- Services START -->
<div class="section-block-grey" id="services">
    <div class="container">
        <div class="section-heading center-holder">
            <h2>SERVİSLERİMİZ</h2>
            <p>
            Kurulduğu günden itibaren teknoloji alanında hizmet veren firmamız, son 5 yıldır BT Dış Kaynak konusunda da hizmet vermektedir.

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay=".3s">
                <div class="service-block">
                    <img src="~/img/sds0.jpg" alt="service-image">
                    <div class="inner-padd clearfix">
                        <div class="service-block-content">
                            <h4>BT Dış Kaynak</h4>
                            <p>
                                Bu servis, ihtiyaç duyduğunuz BT personelini en hızlı şekilde bulmanızı sağlar. Lifetech'den bu hizmeti aldığınızda ihtiyaçlarınıza uygun eleman bulunacağınızdan emin olabilirsiniz.
                                Arama, değerlendirme ve seçime bağlı tüm sorumluluklar Lifetech'in yetenekli ve deneyimli profesyonelleri tarafından gerçekleştirilir.
                            </p>
                        </div>
                        <div class="service-block-icon">
                            <a asp-route="Outsource" target="_blank">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay=".1s">
                <div class="service-block">
                    <img src="~/img/sds10.jpg" alt="service-image">
                    <div class="inner-padd clearfix">
                        <div class="service-block-content">
                            <h4>Yazılım Geliştirme</h4>
                            <p>
                                Lifetech olarak firmanızın geçmiş deneyimleri, entegrasyon kabiliyeti ve ekibinizin alışkanlıkları gözetilerek çözümler sunmaktayız. Mobil ve Masaüstü yazılımlarında Microsoft, Java, ios, Android gibi platformlardaki geliştirmeler konusunda tecrübeli ekibimizle, ihtiyaçlarınızı karşılayacak optimum çözümler sunuyoruz.
                            </p>
                        </div>
                        <div class="service-block-icon">
                            <!-- href="#"><i class="fa fa-angle-right" aria-hidden="true"-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay=".1s">
                <div class="service-block">
                    <img src="~/img/sds9.jpg" alt="service-image">
                    <div class="inner-padd clearfix">
                        <div class="service-block-content">
                            <h4>Eğitim Danışmanlık</h4>
                            <p>
                                Farklı sektörlerde başarılı agile dönüşüm ve danışmanlık tecrübelerimizle, kurumlara özgü agile danışmanlık ve eğitim hizmetleri veriyoruz.
                                Agile metodolojiler hakkında kendinizi geliştirmek istiyorsunuz veya kurumunuzda Agile dönüşüm başlatmak istiyorsunuz. O zaman gelin tanışalım.<br/>
                            </p>
                        </div>
                        <div class="service-block-icon">
                            <!-- href="#"><i class="fa fa-angle-right" aria-hidden="true"-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay=".1s">
                <div class="service-block">
                    <img src="~/img/sds7.jpg" alt="service-image">
                    <div class="inner-padd clearfix">
                        <div class="service-block-content">
                            <h4>Seçme ve İşe Yerleştirme</h4>
                            <p>
                                İhtiyaç duyduğunuz Bilgi Teknolojileri alanında ki açık pozisyonlar için seçme ve yerleştirme danışmanlık hizmeti,
                                uzman ekiplerimiz tarafından titizlikle yapılmaktadır. Müşterilerimiz için, ihtiyaç duyulan elemanların yerleştirilmesinde hızlı, güvenilir ve garantili çözümler sunmaktayız.
                            </p>
                        </div>
                        <div class="service-block-icon">
                            <!-- href="#"><i class="fa fa-angle-right" aria-hidden="true"-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services END -->
<!-- Partners Section START -->
<!--<div class="partner-section-grey">
    <div class="container">
        <div class="owl-carousel owl-theme partners wow fadeInLeft" id="our-partners">
            <div class="item">
                <img src="https://via.placeholder.com/216x108" alt="partner-image">
            </div>

            <div class="item">
                <img src="https://via.placeholder.com/216x108" alt="partner-image">
            </div>

            <div class="item">
                <img src="https://via.placeholder.com/216x108" alt="partner-image">
            </div>

            <div class="item">
                <img src="https://via.placeholder.com/216x108" alt="partner-image">
            </div>

            <div class="item">
                <img src="https://via.placeholder.com/216x108" alt="partner-image">
            </div>

            <div class="item">
                <img src="https://via.placeholder.com/216x108" alt="partner-image">
            </div>
        </div>
    </div>
</div>-->
<!-- Partners Section END -->
<!-- Footer START -->


