@{
    Layout = "_Layout";
}

<div class="page-title-section" style="background-image:url(/img/lta2.jpg);">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 .section-heading" style="color:white; font-size: 18px;     text-align: center;">
            <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500" style="color:white;font-size: 35px;">BT DIŞ KAYNAK KİRALAMA</h2>
            <p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900">Nitelikli insan gücüne tüm işletmelerin ihtiyacı vardır. Bu kaynakları elde tutmak, korumak veya vasıflı insan gücünü artırmak zor bir iştir. Proje gereksinimlerinizi uzman insan gücü sağlayarak güçlendirmeniz gerektiği zaman Lifetech BT Dış Kaynak Tedarik hizmetinden yaralanabilirsiniz.</p>
        </div>
    </div>
</div>
<!-- Page Title Section END -->
<!-- Services START -->
<div class="section-block-grey">
<div class="container">
<div class="row">
    <div class="section-heading center-holder">
        <h2>Neden BT Dışkaynak</h2>
        <p>
            Bu servis, ihtiyaç duyduğunuz BT personelini en hızlı şekilde bulmanızı sağlar. Lifetech'den bu hizmeti aldığınızda ihtiyaçlarınıza uygun eleman bulunacağınızdan emin olabilirsiniz. Arama, kimlik doğrulama ve seçime bağlı tüm sorumluluklar Lifetech'in yetenekli ve deneyimli profesyonelleri tarafından gerçekleştirilir. Ekibimiz, ihtiyacınıza uygun çalışanların bulunması konusunda tecrübe ve uzmanlığa sahiptir.
        </p>

    </div>

</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- PROGRESS BARS Start -->
        <h2>Aday Havuzumuz</h2>

        <div class="pricing-info">
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        .Net Yazılım Geliştirme Uzmanı (.Net Developer)
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        Java Yazılım Geliştirme Uzmanı (Java Developer)
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        Mobil Geliştiriciler
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        İş/Teknik Analist
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        Test uzmanı
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        Uygulama Tasarım Uzmanı (UI Designer)
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        Proje Yöneticisi
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        Veri Tabanı Yöneticisi
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        ETL Developer
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:18%">
                </div>
            </div>
            <!-- Progress Bar End -->
            <!-- Progress Bar Start -->
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        Heldesk Uzmanı
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:18%">
                </div>
            </div>
            <!-- Progress Bar End -->


        </div>
        <!-- PROGRESS BARS End -->
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>Lifetech ile Çalışmanın Avantajları</h2>
        <div class="pricing-info">

            <p>
                <i class="icon-add"></i> <span>Anlık iletişim sağlarsınız</span>
            </p>
            <p>
                <i class="icon-add"></i> <span>Şeffaf faturalama yapılır.</span>
            </p>
            <p>
                <i class="icon-add"></i> <span>Hiçbir gizli maliyet yoktur.</span>
            </p>
            <p>
                <i class="icon-add"></i> <span>İşbirliği</span>
            </p>
            <p>
                <i class="icon-add"></i> <span>Deneyimli çalışanlar</span>
            </p>

        </div>
    </div>
</div>
</div>
<!-- Services END -->


<!-- Pricing List START -->
<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <h2>Çalışma Modellerimiz</h2>
            <div class="text-content"style="font-size:18px;">
                Sadece tek bir firmadan tüm IT-Dış Kaynak ihtiyaçlarınızı karşılayabilirsiniz.
                Hiçbir gizli maliyet yoktur.
                Şeffaf faturalama yapılır.
                Anlık iletişim sağlayıp, sadece deneyimli çalışanlar ile çalışırsınız.
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pricing">
                    <div class="inner-padd">
                        <div class="pricing-box">
                            <h2>Sürekli (Full-time)</h2>
                            <h4>Çalışan Temini</h4>
                            <div class="text-content">
                                <p>
                                    En çok tercih edilen dış kaynak modellerinden biridir. Çeşitli yazılım teknolojileri uzmanlarından ihtiyacınız olan kaynakları seçebilirsiniz. Kaynağınız, sizin ekibinizle birlikte tam zamanlı olarak çalışır. Her iki tarafın koşulları kabul ettiği aylık sabit bir fiyat üzerinden ücretlendirme yapılır.

                                    Nitelikli, kaliteli, kurumsal yapınıza uygun BT uzmanlarını kiralamak için bu çalışma modelini kullanabilirsiniz.

                                    Uzun soluklu projelerinizde ya da güncel yazılım projenize eklemeler ve güncellemeler için bu yöntemi kullanabilirsiniz ve yönetimi tamamen sizde olur.
                                </p>
                            </div>
                            <div class="pricing-info">

                                <p>
                                    <i class="icon-add"></i> <span>Çalışan ile doğrudan iletişim kurarsınız..</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Ekibinizin parçası olur.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Ekibinizi artırmak veya azaltmak esnekliğe sahip olursunuz.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Kısa vadeli ve uzun vadeli tasarruf sağlar.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Kiralanan kaynaklarımız, uzun bir süre sizinle çalışır</span>
                                </p>

                                <p>
                                    <i class="icon-add"></i> <span>Kıdem ve ihbar tazminatlarını ödemezsiniz.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#contacts">İletişime Geç</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pricing">
                    <div class="inner-padd">
                        <div class="pricing-box">
                            <h2>Geçiçi (Part-time)</h2>
                            <h4>Çalışan Temini</h4>
                            <div class="text-content">
                                <p>
                                    Bu model, halihazırda üzerinde çalışmakta olduğunuz, kısa süreli çalışacağınız projelerinize veya uzun vadede dönemsel destek isteyen işleriniz için idealdir. Özellikle uzun soluklu ya da dönemsel destek işlerinde bu modeli kullanmak sizin için çok avantajlı olmasının yanında esnekliği planlarken kolaylık da sağlar. Bu modelde, kaynağı yalnızca gerektiği zamanlarda kullanarak büyük bir maliyet avantajı sağlarsınız.

                                    Bu model aynı zamanda tutarlılık sağlayarak, sözleşme süresince aynı dış kaynak personeli ile çalışma olanağı sağlar.
                                </p>
                            </div>
                            <div class="pricing-info">
                                <p>
                                    <i class="icon-add"></i> <span>Müşteri ayda 20 saat ve üzerinde kaynak kiralanabilir.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Belli günler veya dönemlerde kiralanabilir.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Maliyet avantajı sağlar.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Esneklik sağlar.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Siz tatil veya hastalık izinleri için ücret ödemezsiniz.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Kıdem ve ihbar tazminatlarını ödemezsiniz.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#contacts">İletişime Geç</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>