@{
    Layout = "_Layout";
}

<div class="page-title-section" style="background-image:url(/img/lta6.jpg);">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 .section-heading" style="color:white; font-size: 18px;     text-align: center;">
            <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500" style="color:white;font-size: 35px;"> YAZILIM TEST DIŞ KAYNAK KULLANIMI </h2>
            <p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900">Yazılım geliştirme sürecinde, projenin kalitesiyle ilgili en önemli safhalardan biri de test sürecidir. Deneyimli test ekibimiz ve test teknolojilerimizle verdiğimiz yazılım testi hizmeti ürünlerinizin verimlilik ve kalitesini artırırken, size zaman ve maliyet avantajı sağlar.</p>
        </div>
    </div>
</div>
<!-- Page Title Section END -->
<!-- Services START -->
<div class="section-block-grey">
<div class="container">
    <div class="row">
        <div class="section-heading center-holder">
            <h2>
                Neden Yazılım Test Dış Kaynak Hizmeti ?
            </h2>
            <p>
                Testlere ayırdığınız zaman ve kaynakların projeye maliyetini düşürmek, müşteriniz ve bilgi teknolojisi ekiplerinizin etkilerinden bağımsız nesnel sonuçlar elde edebilmek ve test standartlarına uygun dokümantasyonu sağlamak için bu hizmeti deneyimli test mühendisleri ile Lifetech’den alırsınız.
            </p>

        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- PROGRESS BARS Start -->
            <h2>Test Uzmanı Pozisyonlarımız</h2>


            <div class="pricing-info">
                <!-- Progress Bar Start -->
                <div class="progress-text">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            Fonksiyonel Test Uzmanları
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="progress custom-progress">
                    <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <!-- Progress Bar End -->
                <!-- Progress Bar Start -->
                <div class="progress-text">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            Penetration Test Uzmanları
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="progress custom-progress">
                    <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <!-- Progress Bar End -->
                <!-- Progress Bar Start -->
                <div class="progress-text">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            Performans ve Yük Testi uzmanları
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="progress custom-progress">
                    <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <!-- Progress Bar End -->
                <!-- Progress Bar Start -->
                <div class="progress-text">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            Mobil Test Uzmanları
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="progress custom-progress">
                    <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <!-- Progress Bar End -->
                <!-- Progress Bar Start -->
                <div class="progress-text">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            Test uzmanı
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="progress custom-progress">
                    <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <!-- Progress Bar End -->
                <!-- Progress Bar Start -->
                <div class="progress-text">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            Entegrasyon Test Uzmanı
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="progress custom-progress">
                    <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <!-- Progress Bar End -->
                <!-- Progress Bar Start -->


                <!-- Progress Bar End -->


            </div>
            <!-- PROGRESS BARS End -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h2>Lifetech ile Çalışmanın Avantajları</h2>
            <div class="pricing-info">
                <p>
                    <i class="icon-add"></i> <span>Yazılım testlerinde deneyimli çalışanlar</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Standartlara uygun test dokümantasyonu</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Ürününüzün Bakım Maliyetini Düşürür</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Ürününüz, ekip etkenlerinden bağımsız test edilir</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Azalan test eforu sağlarsınız.</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Şeffaf faturalama yapılır.</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Hiçbir gizli maliyet yoktur.</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>İşbirliği</span>
                </p>
                <p>
                    <i class="icon-add"></i> <span>Kalite Artışı </span>
                </p>

            </div>
        </div>
    </div>
</div>
<!-- Services END -->
<!-- Pricing List START -->
<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <h2>Test Hizmetlerimiz</h2>
            <div class="text-content" style="font-size:18px;">
                Sadece tek bir firmadan tüm IT-Dış Kaynak ihtiyaçlarınızı karşılayabilirsiniz.
                Hiçbir gizli maliyet yoktur.
                Şeffaf faturalama yapılır.
                Anlık iletişim sağlayıp, sadece deneyimli çalışanlar ile çalışırsınız.
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Accordions START -->

                <!-- Accordions END -->
            </div>

        </div>

        <div class="row">


            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="inner-padd">
                        <div class="pricing-box">
                            <h3>Yazılım Test</h3>
                            <h4>Hizmeti</h4>
                            <div class="text-content">
                                <p>

                                </p>

                            </div>
                            <div class="pricing-info">

                                <p>
                                    <i class="icon-add"></i> <span>Proje gereksinimlerinin analiz edilmesi</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Proje yazılım iş paketleri ve aktivite listesinin hazırlanması.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Proje entegrasyon ve veri modelleri/transfer şablonlarının hazırlanması.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Aktivite bazında test rol ve sorumluluklarının belirlenmesi.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>En güncel test methodolojilerine göre test planının hazırlanması</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Test adımlarının dokümantasyonu.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Test sonucu hata/iyileştirme bulgularının dokümantasyonu.</span>
                                </p>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#contacts">İletişime Geç</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="inner-padd">
                        <div class="pricing-box">
                            <h3>Performans Test</h3>
                            <h4>Hizmeti</h4>
                            <div class="text-content">
                                <p>

                                </p>
                            </div>
                            <div class="pricing-info">
                                <p>
                                    <i class="icon-add"></i> <span>Proje gereksinimlerinin analiz edilmesi.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Proje entegrasyon ve veri modelleri/transfer şablonlarının hazırlanması.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Performans testlerine tabi tutulacak iş paketlerinin ve aktivitelerin önceliklendirilmesi.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Performans kriter ve hedeflerinin belirlenmesi.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>İş paketleri ve aktivitelerin kullanım yoğunluk tahminleri.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Performans test sonuçlarının dokümantasyonu.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Test sonucu hata/iyileştirme bulgularının dokümantasyonu.</span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#contacts">İletişime Geç</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="inner-padd">
                        <div class="pricing-box">
                            <h3>Kullanıcı Kabul Test</h3>
                            <h4>Hizmeti</h4>
                            <div class="text-content">
                                <p>

                                </p>
                            </div>

                            <div class="pricing-info">
                                <p>
                                    <i class="icon-add"></i> <span>Proje gereksinimlerinin analiz edilmesi</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Proje yazılım iş paketleri ve aktivite listesinin hazırlanması.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Proje entegrasyon ve veri modelleri/transfer şablonlarının hazırlanması.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Aktivite bazında test rol ve sorumluluklarının belirlenmesi.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>En güncel test methodolojilerine göre test planının hazırlanması</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Test adımlarının dokümantasyonu.</span>
                                </p>
                                <p>
                                    <i class="icon-add"></i> <span>Test sonucu hata/iyileştirme bulgularının dokümantasyonu.</span>
                                </p>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="#contacts">İletişime Geç</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>