<link rel="stylesheet" type="text/css" href="~/css/lt-additional.css">

<footer>
    <div class="footer" id="contacts">
        <div class="container">
            <div class="row">
                <!-- Col 1 Start -->
                <div class="col-md-3 col-sm-10 col-xs-12">
                    <div class="footer-column-1">
                        <img src="~/img/logos/logobeyaz.png" alt="footer-logo">
                        <div class="text-content mt-25">
                            <p class="grey-color">Smile for Technology #lifetech #smilefortech #smilefortechnology</p>
                            <div class="white-color mt-20">
                                <p><i class="fa fa-envelope-o"></i> bilgi@lifetechbilisim.com</p>
                                <p><i class="fa fa-phone"></i> +90 216 599 02 10</p>
                                <p><i class="fa fa-clock-o"></i> P.tesi - Cuma: 9:00 - 17:00</p>
                                <p><i class="fa fa-map-marker fa-lg"></i> Esentepe Mah. Milangaz Cad. No:71B K:13 D:51 Asia Residence Kartal/İstanbul 34870 TR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Col 1 End -->
                <!-- Col 2 Start -->
                <div class="col-md-4 col-sm-12 col-xs-12  col-md-offset-1">
                    <div class="footer-column-heading">
                        <h6>Sosyal Medya</h6>
                    </div>
                    <div class="footer-post clearfix">
                        <div class="footer-post-img">
                            <img src="~/img\twitter logo.png" alt="Outsource" weight="30" height="30">
                        </div>
                        <div class="footer-post-content">
                            <h6>
                                <a class="twitter-timeline" data-lang="tr" data-width="250" data-height="300" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/LifetechBilisim?ref_src=twsrc%5Etfw">Tweets by LifetechBilisim</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </h6>
                        </div>
                    </div>



                </div>
                <!-- Col 2 End -->
                <!-- Col 3 Start -->
                <div class="col-md-1 col-sm-12 col-xs-12"></div>

                <!-- Col 3 End -->
                <!-- Col 4 Start -->


                <!--<div class="input-group newsletter-form">
                    <input type="email" placeholder="Eposta Adresiniz">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </span>
                </div>-->





                <div class="col-md-4 col-sm-12 col-xs-12" id="FormContent">
                    <div class="footer-column-heading">
                        <h6>Bize Ulaşın</h6>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="background:white;border-radius: 7px;">

                        <form id="contactForm" class="primary-form needs-validation" encType="multipart/form-data">
                            <div class="col-xs-6">
                                <input type="text" name="name" id="name" placeholder="İsim *" required>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" name="firmName" id="firmName" placeholder="Firma Adı">
                            </div>
                            <div class="col-xs-12">
                                <input type="email" name="emailAddress" id="emailAddress" placeholder="Mail Adresiniz *" required>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Telefon Numaranız *" required>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" name="subject" id="subject" placeholder="Konu *" required>
                            </div>
                            <div class="col-xs-12">
                                <textarea name="message" id="message" placeholder="Mesajınız *" required></textarea>
                            </div>
                            <div class="center-holder">
                                <button type="button" id="btnGonder" name="btnGonder" class="button button-primary mt-10 mb-10 btnGonder">Gönder</button>
                            </div>

                            <html>
                            <head>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
                            </head>
                            <body>
                                <form>
                                    <input type="tel" id="phoneNumber" name="phoneNumber">
                                </form>


                                <script>
                                    var phoneInput = document.getElementById('phoneNumber');
                                    Inputmask("0(999) 999-9999").mask(phoneInput);
                                </script>
                            </body>
                        </html>


                            <input type="hidden" name="_subject" value="İletişim formu dolduruldu.">
                            <!-- Custom email ReplyTo Address -->
                            <input type="hidden" name="_replyto" value="bilgi@lifetechbilisim.com">
                            <!-- Redirect to a page after recaptcha -->
                            <input type="hidden" name="_after" value="https://lifetechbilisim.com/#contacts">
                            <!-- Honeypot (to catch comment spam bots) -->
                            <input type="hidden" name="KatilmaDurumu" id="KatilmaDurumu" value="">
                            <!-- Apply a custom confirmation message on the second step -->
                            <input type="hidden" name="_confirmation" value="Bizimle iletişime Geçtiğiniz için teşekkür ederiz.">
                        </form>

                    </div>

                </div>
            </div>



        </div>
        <!-- Col 4 End -->
    </div>


    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="bottom-icons white-color">
                        <!-- <a href="https://www.facebook.com/lifetechTecknoloji" target="_blank"><i class="fa fa-facebook"></i></a> -->
                        <a href="https://twitter.com/LifetechBilisim" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/lifetechbilisim" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/lifetechbilisim" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="grey-color right-holder mt-10">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div id="preloader">
    <img id="preloader-img" style="border-radius: 50%" src="~/img/preloader1.gif" alt="Yükleniyor...">
</div>

<script src="~/js/jquery.min.js"></script>
<script>



    $('#btnGonder').on('click', function() {

        var model = {
            "name": $("#name").val(),
            "emailAddress": $("#emailAddress").val(),
            "phoneNumber": $("#phoneNumber").val().replace("(", "").replace(")", "").replace("-", "").replace("_", "").replace(" ", "").trim(),    
            "firmName": $("#firmName").val(),
            "subject": $("#subject").val(),
            "message": $("#message").val()
        };

        sendemail(model);
    })

 //  var phoneInput = document.getElementById('phoneNumber');
 //
 //    phoneInput.addEventListener('input', function (e) {
 //     var value = e.target.value.replace(/\D/g, '');
 //         var x = value.match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
 //     e.target.value = (value.charAt(0) !== '0') ? '0' + e.target.value : e.target.value;
 //     e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
 // }); 

    function sendemail(model) {

        var thanksMessage = " <div class='thank-you-success'><img src='img/check.gif' style='width: 15%; margin-bottom: 10px' alt='success'><h1 class='thank-you-h'>Teşekkürler!</h1><p class='thank-you-p'> Mesajınız başarıyla iletildi.</p></div>"
        var dangerMessage = " <div class='thank-you-danger'><h1 class='thank-you-h'>Beklenmedik Hata!</h1><p class='thank-you-p'> Lütfen daha sonra tekrar deneyin.</p></div>"

        if ($("#name").val() == "") {
            swal('Lütfen isim giriniz!', '', 'error')
        } else if ($("#emailAddress").val() == "") {
            swal('Lütfen email adresinizi giriniz!', '', 'error')
        } else if ($("#phoneNumber").val() == "") {
            swal('Lütfen telefon numaranızı giriniz!', '', 'error')
        } else if ($("#subject").val() == "") {
            swal('Lütfen konu alanını doldurunuz!ata', '', 'error')
        } else if ($("#message").val() == "") {
            swal('Lütfen mesaj alanını doldurunuz!', '', 'error')
        } else {
            $.ajax({
                url: "Mail/Contact",
                type: "POST",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",

                beforeSend: function() {
                    $('#preloader').show();
                },
                success: function(response) {
                    $('#FormContent').html(thanksMessage);
                    debugger;
                },

                error: function(response) {
                    $('#FormContent').html(dangerMessage);
                    debugger;
                },
                complete: function() {
                    $('#preloader').hide();
                }
            });
        }
    }
  
</script>

