<!-- Preloader Start-->
<div id="preloader">
    <div class="row loader">
        <div class="loader-icon"></div>
    </div>
</div>
<!-- Preloader End -->
<!-- Top-Bar START -->
<div id="top-bar" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <ul class="top-bar-info">
                    <li><i class="fa fa-phone"></i> Tel: (0216) 599 02 10 </li>
                    <li><i class="fa fa-envelope-o"></i>e-mail: bilgi@lifetechbilisim.com</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="bottom-icons white-color" style="float: right;padding-top: 5px;">
                    @* <a href="https://www.facebook.com/lifetechTecknoloji" target="_blank"> *@
                    @*     <i class="fa fa-facebook"></i> *@
                    @* </a> *@
                    <a href="https://twitter.com/LifetechBilisim" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/lifetechbilisim" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/lifetechbilisim" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Top-Bar END -->
<!-- Navbar START -->
<header>
    <nav class="navbar navbar-default navbar-custom" data-spy="affix" data-offset-top="50">
        <div class="container">
            <div class="row">
                <div class="navbar-header navbar-header-custom">
                    <button type="button" class="navbar-toggle collapsed menu-icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-logo" href="/Home/Index">
                        <img src="~/img/logos/logo.png" alt="logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right navbar-links-custom">
                        <li>
                            <a href="/Home/Index/#about">LIFETECH</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OUTSOURCE</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li>
                                    <a asp-route="Outsource">BT Dış Kaynak Kiralama</a>
                                </li>
                                <li>
                                    <a asp-route="TestOutsource">Test Dış Kaynak Hizmeti</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Home/Index/#services">SERVİSLERİMİZ</a>
                        </li>
                        <li>
                            <a href="#contacts">İLETİŞİM</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Navbar END -->